@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

*,
html,
body,
::before,
::after,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
input,
textarea,
video {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "CarroisGothic", sans-serif;
  box-sizing: border-box;
}

body,
html {
  background-color: $col-primary-background;
}
