$to-rem-4px: 0.25rem;
$to-rem-8px: 0.5rem;
$to-rem-16px: 1rem;
$to-rem-24px: 1.5rem;
$to-rem-32px: 2rem;
$to-rem-40px: 2.5rem;
$to-rem-48px: 3rem;
$to-rem-56px: 3.5rem;
$to-rem-60px: 3.75rem;
$to-rem-64px: 4rem;
$to-rem-72px: 4.5rem;
$to-rem-80px: 5rem;

$col-primary-background: #000000;
$col-mg-primary: #cd4c34;
