@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery-page {
  position: relative;
  top: 120px;
  padding: $to-rem-16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $col-primary-background;
  height: 100%;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // margin: 0 auto;
  &__image {
    width: auto;
    height: 20rem;
    margin: 0 $to-rem-8px $to-rem-16px;
    border: 1px solid gray;
  }
}
