@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery-page {
  position: relative;
  top: 120px;
  padding: $to-rem-16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // background-color: white;
  height: 100%;
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // margin: 0 auto;
  &__image {
    width: auto;
    height: 20rem;
    margin: 0 $to-rem-8px $to-rem-16px;
    border: 1px solid gray;
    &--liked {
      border: 5px solid white;
    }
  }
  &__like-icon {
    cursor: pointer;
    position: relative;
    top: -25px;
    left: -35px;
    transition: .5s;
    &--liked,
    &:hover {
      
      transform: scale(16.5);
      opacity: 65%;
      left: -177.5px;
      top: -160px;
    }
    &:active {
      background-color: green;
      transition: 0s;

    }
    &:root {
      border: 5px solid white;
    }
  }

  &__missing-info {
    color: white;
    font-size: 3rem;
    margin-top: 1.5rem;
  }
}

@keyframes fade {
  0% {
    transform: scale(3);
  }

  50% {
    transform: scale(10);
  }
  100% {
    transform: scale(15);
}
}


.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  //   border-radius: 5px;
  background-color: $col-primary-background;
  margin-bottom: 1rem;
  padding: 0 31px 16px 36px;
  border-bottom: 1px solid white;
  &__title {
    color: white;
    margin: 0 0.5rem 0 0;
    font-size: 1.75rem;
    
  }
  &__content {
    color: $col-mg-primary;
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}