@use "../../styles/partials/variables.scss" as *;

.hero {
  position: absolute;
  //   top: 80px;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // opacity: 70%;
  // z-index: 1;
  // background-color: rgba(0, 0, 0, 0.75);
  &__overlay {
    background: rgba(32, 32, 32, 30%);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 480px;
    // width: 100%;

    // background: rgba(32, 32, 32, 50%);
    // padding: 1.5rem 0;
  }
  &__header {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
  }
  &__span {
    color: $col-mg-primary;
  }
  &__body {
    font-size: 2rem;
    width: 80%;
    text-align: center;
    color: rgb(255,255,255);
    margin-bottom: 1rem;
  }
  &__text {
    background-color: white;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);

    &:hover {
      background-color: $col-mg-primary;
      color: white;
    }
  }
}
